@media (width <= 820px) {
    body {
        min-width: 400px;
        font: 13px/1.5 'PT Sans', sans-serif;
    }


    .main-nav {
        display: none;
        position: absolute;
        top: 90px;
        text-align: center;
        background-color: #44445a;
        border-radius: 15px;

        animation-name: scaleIn;
        animation-duration: 0.3s;
        animation-delay: 0.18s;
        animation-fill-mode: backwards;
    }

    ul.main-nav {
        z-index: 1;
    }

    .main-nav a {
        display: block;
        padding: 1rem;
        margin: 10px 5px;
        z-index: 999;
    }

    .auth-nav li {
        margin: 0 0.3rem;
    }

    .auth-nav li a {
        padding: 1rem;
        font-size: 1.3rem;
    }

    nav {
        margin: 0 1rem;
        /*padding: 0 2rem;*/
    }

    #nav-bars {
        display: block;
        cursor: pointer;
        margin-left: 3rem;
        font-size: 1.5rem;
    }

    #welcome-section {
        gap: 7.5em;
        /*margin-bottom: 4rem;*/
    }

    #welcome-section h1 {
        letter-spacing: 0.7rem;
        font-size: 2.3rem;
    }

    .animated-heading span,
    .scroll-btn i,
    .scroll-btn:hover {
        animation: none;
    }

    .scroll-btn {
        font-size: 1.2rem;
        animation: none;
    }
}

@media (max-width: 1120px) {

    .first-middle,
    .second-middle {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-bottom: 4em;
    }

    .first-middle .img-wrapper img,
    .second-middle .img-wrapper img {
        min-width: 250px;
    }

    .first-middle .text-wrapper h2,
    .second-middle .text-wrapper h2 {
        text-align: center;
        font-size: 2.2rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1.5rem;
    }

    .first-middle .text-wrapper p,
    .second-middle .text-wrapper p {
        font-size: 1.2rem;
        text-align: center;
    }

    .second-middle {
        flex-direction: column-reverse;
    }

    .index-footer .icons li {
        margin-right: 2.5rem;
    }
}