@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 'PT Sans', sans-serif;
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.reg-container h1 {
    margin-bottom: 2rem;
    color: #C2C22FFF;
}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width: 400px;
    min-width: 200px;
    background-color: #44445a;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 0 13px rgba(246, 246, 246, 0.5);
}

.reg-form input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#account-type-lbl {
    text-align: center;
}

.account-type {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.job-applicant,
.company {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}


.reg-submit-btn {
    margin-top: 1.5rem;
    width: 30%;
    align-self: center;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: none;
}

.reg-submit-btn:hover {
    background-color: #C2C22FFF;
    color: #44445a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#username-span,
#email-span,
#password1,
#passwordTwo {
    color: red;
    font-size: 0.8rem;
}

.account-type input[type="radio"]:not(:checked):not(:disabled) + label {
    color: #C2C22FFF;
    transform: scale(1.2);
    transition: color 0.3s ease, transform 0.3s ease;

}