@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 'PT Sans', sans-serif;
}

.container::before {
    content: "";
    background-image: url("../../images/reg-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9em;
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:9em;

}

.container h1 {
    font-size: 5rem;
    letter-spacing: 5px;
    color: #C2C22FFF;

}

.page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap-reverse;
    min-width: 580px;
}

.company, .employee {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    padding: 2.5rem;
    gap: 1rem;
    min-width: 340px;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 30%;

}

.company-content, .employee-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: auto;
    width: 45%;

}

p {
    font-size: 1.3rem;
    font-weight: 500;


}

.page-content i {
    font-size: 11rem;
    margin-bottom: 1rem;
}