@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px/1.5 'PT Sans', sans-serif;
}

.reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    flex-direction: column;
}

.reg-form {
    display: flex;
    flex-direction: column;
}

.job-applicant,
.company {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
