{% extends 'index.html' %}
{% block content %}

    <div class="reg-container">
        <h1 class="auth-heading">Edit Profile</h1>
        <form class="reg-form">
            <label for="new-username">Username</label>
            <input type="text" id="new-username" name="new-username" placeholder="Enter your new username">
            <label for="new-email">Email</label>
            <input type="email" id="new-email" name="new-email" placeholder="Enter your new email">
            <a href="#" class="change-password">Change Password as well?</a>
            <div class="password-container" style="display: none">
                <label for="old-password">Old Password</label>
                <input type="password" id="old-password" name="old-password" placeholder="Enter your old password">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password" placeholder="Enter your new password">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password"
                       placeholder="Confirm your new password">
            </div>
            <input type="submit" id="save-changes-btn" value="Save Changes">
        </form>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/edit-profile.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
{% block footer %}
{% endblock %}

