<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Title</title>
</head>
<body>

<header>
    <nav>
        <ul class="main-nav">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="auth-nav">
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="register">Register</a></li>
            </ul>
        </div>
    </nav>
</header>
<section class="hidden">
    <h1>Hello BRO</h1>
    <p>LAME SITE</p>
</section>

<section class="hidden">
    <h1>Hello BRO</h1>
    <p>LAME SITE</p>

</section>
<section class="hidden">
    <h1>Hello BRO</h1>
    <p>LAME SITE</p>
</section>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>