<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>JobSpot</title>
</head>
<body>

<header>
    <nav>
        <i class="fa-solid fa-bars" id="nav-bars"></i>
        <ul class="main-nav">

            <li><a href="http://127.0.0.1:5000">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="auth-nav">
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="http://127.0.0.1:5000/register">Register</a></li>
            </ul>
        </div>
    </nav>
</header>
{% block content %}
    <section class="hidden" id="welcome-section">
        <h1 class="animated-heading">
            <span>J</span>
            <span>O</span>
            <span>B</span>
            <span>S</span>
            <span>P</span>
            <span>O</span>
            <span>T</span>
        </h1>
        <button class="scroll-btn"><i class="fa-solid fa-arrow-right"></i>GET STARTED</button>
    </section>
    <section class="hidden first-middle">
        <div class="img-wrapper">
            <img src="{{ url_for('static', filename='images/first-header.jpg') }}" alt="man-with-laptop">
        </div>
    <div class="text-wrapper">
        <h2>Find your dream job</h2>
        <p>Are you ready for a change?</p>
        <p>JobSpot will help you discover your perfect career fit.</p>
    </div>
    </section>
    <section class="hidden">
        <h1>Hello BRO</h1>
        <p>LAME SITE</p>
    </section>

{% endblock %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>