<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>JobSpot</title>
</head>
<body>

<header>
    <nav>
        <i class="fa-solid fa-bars" id="nav-bars"></i>
        <ul class="main-nav">

            <li><a href="http://127.0.0.1:5000">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="auth-nav-logged-out">
            <ul class="logged-out">
                <li id="reg-dropdown"><a href="http://127.0.0.1:5000/register">Register</a>
                </li>
                <li><a href="login">Login</a></li>
            </ul>
        </div>
        <div class="auth-nav-logged-in">
            <ul class="logged-in">
                <li id="user-dropdown"><img src="{{ url_for('static', filename='images/default-user.png') }}"
                                            alt="user">
                    <ul class="dropdown-menu" style="display: none">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Ads</a></li>
                        <li><a href="#">Applications</a></li>
                        <li><a id="logout-btn" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
{% block content %}
    <section class="hidden" id="welcome-section">
        <h1 class="animated-heading">
            <span>J</span>
            <span>O</span>
            <span>B</span>
            <span>S</span>
            <span>P</span>
            <span>O</span>
            <span>T</span>
        </h1>
        <button class="scroll-btn"><i class="fa-solid fa-arrow-right"></i>GET STARTED</button>
    </section>
    <section class="hidden first-middle">
        <div class="img-wrapper">
            <img src="{{ url_for('static', filename='images/first-header.jpg') }}" alt="man-with-laptop">
        </div>
        <div class="text-wrapper">
            <h2>Find your dream job.</h2>
            <p>Are you ready for a change?</p>
            <p>JobSpot will help you discover your perfect career fit.</p>
            <p><a href="#">Register</a> so you can upload your CV or just <a href="#">Browse</a> through
                the offers.</p>
        </div>
    </section>
    <section class="hidden second-middle">
        <div class="text-wrapper">
            <h2>Expand your team.</h2>
            <p>Are you looking for new team members?</p>
            <p>Here you can post your job ads and select the candidate you see fit.</p>
            <p><a href="#">Register</a> your company here or <a href="#">Contact</a> us for more information.</p>
        </div>
        <div class="img-wrapper">
            <img src="{{ url_for('static', filename='images/hand-shake.jpg') }}" alt="hand-shake">
        </div>
    </section>

{% endblock %}
{% block footer %}
    <footer class="index-footer">
        <ul class="icons">
            <li><a href="https://github.com/IvoGeorgievx"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ivaylo-georgiev-9a5882207/"><i
                    class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>

        </ul>
    </footer>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}


</body>
</html>