{% extends 'index.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <title>Register</title>
</head>
<body>
{% block content %}
    <div class="container">
        <h1>Create an account</h1>
        <div class="page-content">
            <div class="company">
                <div class="company-logo">
                    <i class="fa-solid fa-building"></i>
                </div>
                <div class="company-content">
                    <h2>Company</h2>
                    {#            <a href="{{ url_for('company_register') }}">Register</a>#}
                </div>
            </div>
            <div class="employee">
                <div class="employee-logo">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <div class="employee-content">
                    <h2>Employee</h2>
                    {#            <a href="{{ url_for('employee_register') }}">Register</a>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}

</body>

</html>