<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="http://127.0.0.1:5000/register">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
{#        <label for="confirm_password">Confirm Password</label>#}
{#        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">#}
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email">
        <label for="first-name">First Name</label>
        <input type="text" name="first_name" id="first-name" placeholder="First Name">
        <label for="last-name">Last Name</label>
        <input type="text" name="last_name" id="last-name" placeholder="Last Name">
        <input type="submit" value="Register" id="reg-submit">
    </form>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>

</html>